@using NiksoftCore.ITCF.Service
@{
    var companies = (List<Business>)ViewBag.Companies;
}

<div class="row">
    @foreach (var item in companies)
    {
        <div class="col-sm-4">
            <div class="feature-md">
                <img src="/@item.Introductions.Where(x => x.ImageFile != null).First().ImageFile" alt="feature img">
                <h5>@item.CoName</h5>
                <p>
                    @item.Introductions.Where(x => x.Description != null).First().Description
                </p>
            </div>
        </div>
    }
</div>

