@{
    ViewData["Title"] = "Role Management";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var roles = (List<NiksoftCore.DataModel.Role>)ViewBag.Roles;
}
<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/RoleManage/Create" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
    </div>
</div>

<br />
<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th class="text-primary text-center" width="30px">#</th>
                <th class="text-primary text-center">Title</th>
                <th class="text-primary text-center" width="100px">Oprators</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in roles)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/RoleManage/Edit?Id=@item.Id" class="btn btn-outline-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/RoleManage/Remove?Id=@item.Id" class="btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>