@{
    ViewData["Title"] = "panel";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var roles = (List<NiksoftCore.DataModel.Role>)ViewBag.Roles;
}
<div class="btn-group">
    <a href="/Panel/RoleManage/Create" class="btn btn-success btn-sm"><i class="fal fa-plus"></i></a>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>NAME</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in roles)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/Panel/RoleManage/Edit?Id=@item.Id" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/Panel/RoleManage/Remove?Id=@item.Id" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>