@using NiksoftCore.SystemBase.Service
@{
    Layout = "~/Views/Shared/_FaLayout.cshtml";
    var content = (GeneralContent)ViewBag.Content;
}

<div class="row">
    <div class="blog-single col-md-8 col-md-offset-2">
        <div class="blog-image">
            <img src="/@content.Image" alt="@content.Title">
        </div>

        <h1>@content.Title</h1>

        <div class="blog-content">
            <h2>@content.Header</h2>
            <div class="box-text">
                @Html.Raw(content.BodyText)
            </div>
        </div>

    </div>
</div>
