<!doctype html>
<html lang="en">

<!-- Mirrored from tavonline.net/html/berlin/main/diagonal-slider.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Dec 2020 15:52:13 GMT -->
<head>
    <title>مرکز تجارت بین الملل فکربرتر</title>
    <meta charset="UTF-8">
    <meta name="description" content="مرکز تجارت بین الملل فکربرتر">
    <meta name="keywords" content="تجارت, خدمات">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/templates/UiTemplate/NikFace/rtl/images/fav.png" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/bootstrap.rtl.full.min.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/reset.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/style.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/animate.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/plugins/owlcarousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/magnific-popup.css" />
    
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/icon-fonts/essential-regular-fonts/essential-icons.css" />

</head>
<body class="diag">
    <h1>@ViewBag.Error</h1>
    <div class="loader-wrapper">
        <img src="~/templates/UiTemplate/NikFace/rtl/images/logo-1-1.png" alt="">
        <div class="loader"></div>
    </div>

    <nav>
        <div class="row">
            <div class="container">
                <div class="logo">
                    <img src="~/templates/UiTemplate/NikFace/rtl/images/logo.png" alt="">
                </div>
                <div class="responsive"><i data-icon="m" class="icon"></i></div>
                <ul class="nav-menu">
                    <li><a href="#home" class="smoothScroll">خانه</a></li>
                    <li><a href="#about" class="smoothScroll">درباره ما</a></li>
                    <li><a href="#portfolio" class="smoothScroll">خدمات</a></li>
                    <li><a href="#blog" class="smoothScroll">رویدادها</a></li>
                    <li><a href="#contact" class="smoothScroll">تماس با ما</a></li>
                    <li><a href="/" class="smoothScroll">قوانین و مقررات</a></li>
                    <li><a href="/Auth/Account/Login" class="smoothScroll">ورود/عضویت</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--HOME-->
    <section class="home slider" id="home">
        <div class="home-content">
            <div class="container">
                <h1 class="text-right hidden"><span class="element" data-text1="Fekrbartar International Trade Center" data-text2="Easy investment for international companies" data-loop="true" data-backdelay="3000"></span></h1>
                <h1 class="text-left"><span class="element" data-text1="مرکز تجارت بین الملل فکرتر" data-text2="تسهیل سرمایه گذاری خارجی برای تولید کننده ایرانی" data-loop="true" data-backdelay="3000"></span></h1>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>  </a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>  </a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>  </a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>  </a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i>  </a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i>  </a>
                </div>
                <a class="home-down bounce" href="#about"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
        <div class="home-slider">
            <div id="slides">
                <div class="slides-container">
                    <img src="~/templates/UiTemplate/NikFace/rtl/images/home-2.jpg" alt="">
                    <img src="~/templates/UiTemplate/NikFace/rtl/images/slider-1.jpg" alt="">
                    <img src="~/templates/UiTemplate/NikFace/rtl/images/slider-2.jpg" alt="">
                </div>
            </div>
        </div>
        <svg class="diagonal home-left" width="21%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 100 L100 100 L0 10 Z"></path>
        </svg>
        <svg class="diagonal home-right" width="80%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 100 L100 100 L100 10 Z"></path>
        </svg>
    </section>
    <!--ABOUT-->
    <section class="about dgray-bg" id="about">
        <div class="about type-1 padbot_120">
            <div class="container">
                <!-- about image -->
                <div class="col-md-4 col-sm-12 about-image top_30">
                    <div class="row">
                        <img src="~/templates/UiTemplate/NikFace/rtl/images/profile-2.jpg" alt="">
                    </div>
                </div>
                <!-- about text -->
                <div class="col-md-7 col-md-offset-1 col-sm-12 about-text">
                    <div class="section-title dright bottom_30">
                        <br>
                        <h2>مشاوره و خدمات</h2>
                    </div>
                    <p>مرکز تجارت بین الملل سعی دارد تا با استفاده از پتانسیل های موجود تسهیلات لازم را برای تولیدکنندگان داخلی و خارجی جهت رونق فروش محصولات بویژه محصولات تولید ملی فراهم آورد. در این راستا شما تولید کننده داخلی می توانید با بهره گیری از خدمات این مجموعه از قبیل عرضه محصولات با کیفیت خود در غرفه های شهر آفتاب جهت ارائه به سرمایه گذاران خارجی و همچنین از خدمات ثبت شرکت و خدمات مشاوره ای تجاری ما بهرمند شوید.  </p>
                    <p>
                        <a href="single-blog.html">قوانین و مقررات</a>
                    </p>
                </div>

                <!-- work areas -->
                <div class="owl-carousel work-areas top_120 bottom_120">
                    <!-- an area -->
                    <div class="area col-md-12 item">
                        <div class="icon">
                            <i data-icon="1" class="icon"></i>
                        </div>
                        <div class="text">
                            <h6>خدمات بازرگانی</h6>
                            <p>این مجموعه خدمات جهت تسهیلات خرید و فروش می باشد.</p>
                        </div>
                    </div>
                    <!-- an area -->
                    <div class="area col-md-12 item">
                        <div class="icon">
                            <i data-icon="!" class="icon"></i>
                        </div>
                        <div class="text">
                            <h6>خدمات حقوقی</h6>
                            <p>خدمات حقوقی شامل تمام فرایند های حقوقی ثبت شرکت و برندینگ داخلی و خارجی می باشد.</p>
                        </div>
                    </div>
                    <!-- an area -->
                    <div class="area col-md-12 item">
                        <div class="icon">
                            <i data-icon="#" class="icon"></i>
                        </div>
                        <div class="text">
                            <h6>خدمات گردشگری</h6>
                            <p>مجوعه خدمات گردشگری شامل اقامت و بازدید از مراکز تجاری و تولیدی در شهر آفتاب می باشد.</p>
                        </div>
                    </div>
                </div>

            </div>
            <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
                <path d="M0 0 L70 100 L100 0 Z"></path>
            </svg>
        </div>
    </section>

    
    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="section-title dright top_120 bottom_90">
                <h2>خدمات بین الملل</h2>
                <div class="portfolio_filter">
                    <ul>
                        <li class="select-cat" data-filter="*">همه</li>
                        <li data-filter=".business">بازرگانی</li>
                        <li data-filter=".law">حقوقی</li>
                        <li data-filter=".tourism">گردشگری</li>
                    </ul>
                </div>
            </div>
            <!--Portfolio Items-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="isotope_items row">
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/rtl/images/work-1.jpg" class="popup-youtube single_item link business col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/work-1.jpg" alt="">
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/rtl/images/work-2.jpg" class="single_item link business col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/work-2.jpg" alt="">
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/rtl/images/work-3.jpg" class="single_item link law col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/work-3.jpg" alt="">
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/rtl/images/work-4.jpg" class="single_item link business col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/work-4.jpg" alt="">
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/rtl/images/work-5.jpg" class="single_item link law col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/work-5.jpg" alt="">
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/rtl/images/work-6.jpg" class="single_item link tourism col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/work-6.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <svg class="diagonal-white" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L30 100 L100 0 Z"></path>
        </svg>
    </section>

    <!-- BLOG -->
    <section class="blog" id="blog">
        <div class="container-fluid dgray-bg padbot_200">
            <div class="container">
                <div class="section-title dright top_120 bottom_45">
                    <h2>رویدادها</h2>
                </div>
                <!-- Blogs -->
                <div class="row">
                    <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/blog-1.jpg">
                        </div>
                        <h2 class="blog-title">بازدید هجده کشور از غرفه های شهر آفتاب</h2>
                        <p>کشورهای بزرگانان تاجیکستان، هندوستان، عراق، ترکیه، امارات عربی و غیره امروز از غرفه های شهر آفتاب بازدید کردند.</p>
                        <span class="blog-info"><span>بخش خبری</span> - 7 آذر 1399 </span>
                    </a>
                    <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.6s">
                        <div class="blog-image">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/blog-2.jpg">
                        </div>
                        <h2 class="blog-title">بازدید هجده کشور از غرفه های شهر آفتاب</h2>
                        <p>کشورهای بزرگانان تاجیکستان، هندوستان، عراق، ترکیه، امارات عربی و غیره امروز از غرفه های شهر آفتاب بازدید کردند.</p>
                        <span class="blog-info"><span>بخش خبری</span> - 7 آذر 1399 </span>
                    </a>
                    <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow hidden-sm fadeInUp" data-wow-delay="0.8s">
                        <div class="blog-image">
                            <img src="~/templates/UiTemplate/NikFace/rtl/images/blog-3.jpg">
                        </div>
                        <h2 class="blog-title">بازدید هجده کشور از غرفه های شهر آفتاب</h2>
                        <p>کشورهای بزرگانان تاجیکستان، هندوستان، عراق، ترکیه، امارات عربی و غیره امروز از غرفه های شهر آفتاب بازدید کردند.</p>
                        <span class="blog-info"><span>بخش خبری</span> - 7 آذر 1399 </span>
                    </a>
                    <a href="blog-page.html" class="sitebtn pull-left top_45">بیشتر</a>
                </div>
            </div>
            <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
                <path d="M0 0 L70 100 L100 0 Z"></path>
            </svg>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="section-title dright top_90">
                <h2 class="bottom_30">تماس با ما</h2>
            </div>
            <div class="col-md-3">
                <!-- Contact Info -->
                <ul class="contact-info row">
                    <li>ونک، خیابان خدامی، خیابان آفتاب، نبش کوچه هشتم، پلاک 34، ساختمان فکرتر</li>
                    <li><br>info@fekrebartar.com</li>
                    <li style="direction: ltr;">098 21 54982000</li>
                </ul>
                <div class="social-icons top_60 row">
                    <a class="fb" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="tw" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="ins" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="bh" href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a class="dr" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-7 form top_30 bottom_90 col-md-offset-2">
                <div class="page-title sub">
                    <h5>با ما در ارتباط باشید</h5>
                </div>
                <form class="contact-form top_60" method="POST" action="/">
                    <div class="row">
                        <!--Name-->
                        <div class="col-md-6">
                            <input id="con_name" name="con_name" class="form-inp requie" type="text" placeholder="نام">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <input id="con_email" name="con_email" class="form-inp requie" type="text" placeholder="نام خانوادگی">
                        </div>
                        <div class="col-md-12">
                            <!--Message-->
                            <textarea name="con_message" id="con_message" class="requie" placeholder="متن خود را بنویسید" rows="8"></textarea>
                            <button id="con_submit" class="sitebtn top_30 pull-left" type="submit">ارسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="social">
                <a href="#">facebook </a>
                <a href="#">twitter </a>
                <a href="#">instagram </a>
                <a href="#">google plus </a>
                <a href="#">behance </a>
                <a href="#">dribbble  </a>
            </div>
            <p>تمامی حقوق اثر متعلق به شرکت فکربرتر می باشد.</p>
        </div>
    </footer>

    <!-- Javascripts -->
    <script src="~/templates/UiTemplate/NikFace/rtl/js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
    <script src="~/templates/UiTemplate/NikFace/rtl/js/bootstrap.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/wow.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/isotope.pkgd.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/typed.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/jquery.magnific-popup.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/jquery.superslides.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/plugins/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/main.js"></script>
    <script>

        //SUPER SLİDER
        $('#slides').superslides({
            animation: 'fade',
            play: 3000
        });
    </script>


</body>

</html>
