@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>Learn about <a href="http://niksoftgroup.ir">سامانه گروه نرم افزاری نیک</a>.</p>
</div>