<!doctype html>
<html lang="en">

<!-- Mirrored from tavonline.net/html/berlin/main/diagonal-slider.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Dec 2020 15:52:13 GMT -->
<head>
    <title>Presto Service</title>
    <meta charset="UTF-8">
    <meta name="description" content="Presto Service">
    <meta name="keywords" content="Easy Service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/templates/UiTemplate/NikFace/ltr/images/fav.png" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/bootstrap.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/reset.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/style.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/animate.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/plugins/owlcarousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/magnific-popup.css" />

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/icon-fonts/essential-regular-fonts/essential-icons.css" />


</head>
<body class="diag">
    <h1>@ViewBag.Error</h1>
    <div class="loader-wrapper">
        <img src="~/templates/UiTemplate/NikFace/ltr/images/logo-1-1.png" alt="">
        <div class="loader"></div>
    </div>

    <nav>
        <div class="row">
            <div class="container">
                <div class="logo">
                    <img src="~/templates/UiTemplate/NikFace/ltr/images/logo.png" alt="">
                </div>
                <div class="responsive"><i data-icon="m" class="icon"></i></div>
                <ul class="nav-menu">
                    <li><a href="/#home" class="smoothScroll">Home</a></li>
                    <li><a href="/#about" class="smoothScroll">About Us</a></li>
                    <li><a href="/#portfolio" class="smoothScroll">Services</a></li>
                    <li><a href="/#blog" class="smoothScroll">Events</a></li>
                    <li><a href="/#contact" class="smoothScroll">Contact Us</a></li>
                    <li><a href="/" class="smoothScroll">Terms and Conditions</a></li>
                    <li><a href="/Auth/Account/Login" class="smoothScroll">Login/Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--HOME-->
    @await Component.InvokeAsync("WSlider")
    <!--ABOUT-->
    <section class="about dgray-bg" id="about">
        <div class="about type-1 padbot_120">
            @await Component.InvokeAsync("WAboutus")
            <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
                <path d="M0 0 L70 100 L100 0 Z"></path>
            </svg>
        </div>
    </section>


    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="section-title dleft top_120 bottom_90">
                <h2>The most used services</h2>
                <div class="portfolio_filter">
                    <ul>
                        <li class="select-cat" data-filter="*">All</li>
                        <li data-filter=".business">Health Service</li>
                        <li data-filter=".law">Banking Services</li>
                        <li data-filter=".tourism">Tourism Services</li>
                    </ul>
                </div>
            </div>
            <!--Portfolio Items-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="isotope_items row">
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/ltr/images/work-1.jpg" class="popup-youtube single_item link business col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <figure>
                                <img src="~/templates/UiTemplate/NikFace/ltr/images/work-1.jpg" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>Web Design</span>
                                            <h3 class="title">Biggest Cover</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/ltr/images/work-2.jpg" class="single_item link business col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <figure>
                                <img src="~/templates/UiTemplate/NikFace/ltr/images/work-2.jpg" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>Photography</span>
                                            <h3 class="title">Easy Documentation</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/ltr/images/work-3.jpg" class="single_item link law col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <figure>
                                <img src="~/templates/UiTemplate/NikFace/ltr/images/work-3.jpg" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>Art</span>
                                            <h3 class="title">Cup of Coffee</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/ltr/images/work-4.jpg" class="single_item link business col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                            <figure>
                                <img src="~/templates/UiTemplate/NikFace/ltr/images/work-4.jpg" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>Branding</span>
                                            <h3 class="title">Bag Design</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/ltr/images/work-5.jpg" class="single_item link law col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                            <figure>
                                <img src="~/templates/UiTemplate/NikFace/ltr/images/work-5.jpg" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>Web Design</span>
                                            <h3 class="title">Cd Cover</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                        <!-- Item -->
                        <a href="~/templates/UiTemplate/NikFace/ltr/images/work-6.jpg" class="single_item link tourism col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                            <figure>
                                <img src="~/templates/UiTemplate/NikFace/ltr/images/work-6.jpg" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>Application</span>
                                            <h3 class="title">The Notebook</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <svg class="diagonal-white" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L30 100 L100 0 Z"></path>
        </svg>
    </section>

    <!-- BLOG -->
    <section class="blog" id="blog">
        <div class="container-fluid dgray-bg padbot_200">
            <div class="container">
                <div class="section-title dleft top_120 bottom_45">
                    <h2>Events</h2>
                </div>
                <!-- Blogs -->
                <div class="row">
                    <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img src="~/templates/UiTemplate/NikFace/ltr/images/blog-1.jpg">
                        </div>
                        <h2 class="blog-title">By spite about do of do allow blush</h2>
                        <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
                        <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
                    </a>
                    <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.6s">
                        <div class="blog-image">
                            <img src="~/templates/UiTemplate/NikFace/ltr/images/blog-2.jpg">
                        </div>
                        <h2 class="blog-title">Two Before Arrow Not Relied</h2>
                        <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
                        <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
                    </a>
                    <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow hidden-sm fadeInUp" data-wow-delay="0.8s">
                        <div class="blog-image">
                            <img src="~/templates/UiTemplate/NikFace/ltr/images/blog-3.jpg">
                        </div>
                        <h2 class="blog-title">Behind Sooner Dining so Window </h2>
                        <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
                        <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
                    </a>
                    <a href="blog-page.html" class="sitebtn pull-left top_45">More</a>
                </div>
            </div>
            <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
                <path d="M0 0 L70 100 L100 0 Z"></path>
            </svg>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="section-title dleft top_90">
                <h2 class="bottom_30">Contact Us</h2>
            </div>
            <div class="col-md-3">
                <!-- Contact Info -->
                <ul class="contact-info row">
                    <li>1444 S. Alameda Street Los Angeles, California 90021</li>
                    <li><br>info@niksoftgroup.com</li>
                    <li style="direction: ltr;">0800 123 456789</li>
                </ul>
                <div class="social-icons top_60 row">
                    <a class="fb" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="tw" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="ins" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="bh" href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a class="dr" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-7 form top_30 bottom_90 col-md-offset-2">
                <div class="page-title sub">
                    <h5>leave us a message</h5>
                </div>
                <form class="contact-form top_60" method="POST" action="/">
                    <div class="row">
                        <!--Name-->
                        <div class="col-md-6">
                            <input id="con_name" name="con_name" class="form-inp requie" type="text" placeholder="First Name">
                        </div>
                        <!--Email-->
                        <div class="col-md-6">
                            <input id="con_email" name="con_email" class="form-inp requie" type="text" placeholder="Last Name">
                        </div>
                        <div class="col-md-12">
                            <!--Message-->
                            <textarea name="con_message" id="con_message" class="requie" placeholder="Message" rows="8"></textarea>
                            <button id="con_submit" class="sitebtn top_30 pull-left" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="social">
                <a href="#">facebook </a>
                <a href="#">twitter </a>
                <a href="#">instagram </a>
                <a href="#">google plus </a>
                <a href="#">behance </a>
                <a href="#">dribbble  </a>
            </div>
            <p>
                Copyright © 2021 United State, All rights Reserved. <br />
                Created by Presto Co
            </p>
        </div>
    </footer>

    <!-- Javascripts -->
    <script src="~/templates/UiTemplate/NikFace/ltr/js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
    <script src="~/templates/UiTemplate/NikFace/ltr/js/bootstrap.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/wow.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/isotope.pkgd.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/typed.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/jquery.magnific-popup.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/jquery.superslides.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/plugins/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/main.js"></script>
    <script>

        //SUPER SLİDER
        $('#slides').superslides({
            animation: 'fade',
            play: 3000
        });
    </script>


</body>

</html>
