<!doctype html>
<html lang="fa">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="description" content="Presto Service">
    <meta name="keywords" content="Easy Service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/templates/UiTemplate/NikFace/ltr/images/fav.png" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/bootstrap.css" />
    <link href="~/lib/noty/noty.css" rel="stylesheet">
    <link href="~/lib/noty/themes/sunset.css" rel="stylesheet">
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/reset.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/style.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/animate.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/css/magnific-popup.css" />

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/ltr/icon-fonts/essential-regular-fonts/essential-icons.css" />

</head>
<body class="diag">
    <script src="~/templates/UiTemplate/NikFace/ltr/js/jquery-2.1.4.min.js"></script>
    <script src="~/lib/noty/noty.js" type="text/javascript"></script>
    <script src="~/js/BaseSystem.js"></script>

    @*<div class="loader-wrapper">
            <img src="~/templates/UiTemplate/NikFace/ltr/images/logo-1-1.png" alt="">
            <div class="loader"></div>
        </div>*@

    <nav class="subpage-nav">
        <div class="row">
            <div class="container">
                <div class="logo">
                    <img src="~/templates/UiTemplate/NikFace/ltr/images/logo.png" alt="">
                </div>
                <div class="responsive"><i data-icon="m" class="icon"></i></div>
                <ul class="nav-menu">
                    <li><a href="/#home" class="smoothScroll">Home</a></li>
                    <li><a href="/#about" class="smoothScroll">About Us</a></li>
                    <li><a href="/#portfolio" class="smoothScroll">Services</a></li>
                    <li><a href="/#blog" class="smoothScroll">Events</a></li>
                    <li><a href="/#contact" class="smoothScroll">Contact Us</a></li>
                    <li><a href="/" class="smoothScroll">Terms and Conditions</a></li>
                    <li><a href="/Auth/Account/Login" class="smoothScroll">Login/Register</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container content">
        @RenderBody()
    </div>


    <footer>
        <div class="container">
            <div class="social">
                <a href="#">facebook </a>
                <a href="#">twitter </a>
                <a href="#">instagram </a>
                <a href="#">google plus </a>
                <a href="#">behance </a>
                <a href="#">dribbble  </a>
            </div>
            <p>
                Copyright © 2021 United State, All rights Reserved. <br />
                Created by Presto Co
            </p>
        </div>
    </footer>

    <script src="~/templates/UiTemplate/NikFace/ltr/js/bootstrap.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/wow.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/isotope.pkgd.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/typed.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/jquery.magnific-popup.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/ltr/js/main.js"></script>


</body>
</html>