<!doctype html>
<html lang="fa">

<!-- Mirrored from tavonline.net/html/berlin/main/single-blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Dec 2020 15:49:33 GMT -->
<head>
    <title>قوانین و مقررات</title>
    <meta charset="UTF-8">
    <meta name="description" content="مرکز تجارت بین الملل فکربرتر - قوانین و مقررات">
    <meta name="keywords" content="قوانین، تجارت">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/templates/UiTemplate/NikFace/rtl/images/fav.png" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/bootstrap.rtl.full.min.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/reset.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/style.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/animate.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/css/magnific-popup.css" />

    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/templates/UiTemplate/NikFace/rtl/icon-fonts/essential-regular-fonts/essential-icons.css" />

</head>
<body class="diag">

    <!-- LOADER -->
    <div class="loader-wrapper">
        <img src="~/templates/UiTemplate/NikFace/rtl/images/logo-1-1.png" alt="">
        <div class="loader"></div>
    </div>

    <nav class="subpage-nav">
        <div class="row">
            <div class="container">
                <div class="logo">
                    <img src="~/templates/UiTemplate/NikFace/rtl/images/logo.png" alt="">
                </div>
                <div class="responsive"><i data-icon="m" class="icon"></i></div>
                <ul class="nav-menu">
                    <li><a href="index.html#home" class="smoothScroll">خانه</a></li>
                    <li><a href="index.html#about" class="smoothScroll">درباره ما</a></li>
                    <li><a href="index.html#portfolio" class="smoothScroll">خدمات</a></li>
                    <li><a href="index.html#blog" class="smoothScroll">رویدادها</a></li>
                    <li><a href="index.html#contact" class="smoothScroll">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container content">
        @RenderBody()
    </div>


    <footer>
        <div class="container">
            <div class="social">
                <a href="#">facebook </a>
                <a href="#">twitter </a>
                <a href="#">instagram </a>
                <a href="#">google plus </a>
                <a href="#">behance </a>
                <a href="#">dribbble  </a>
            </div>
            <p>تمامی حقوق اثر متعلق به شرکت فکربرتر می باشد.</p>
        </div>
    </footer>

    <script src="~/templates/UiTemplate/NikFace/rtl/js/jquery-2.1.4.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/bootstrap.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/wow.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/isotope.pkgd.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/typed.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/jquery.magnific-popup.min.js"></script>
    <script src="~/templates/UiTemplate/NikFace/rtl/js/main.js"></script>


</body>
</html>