@using NiksoftCore.ITCF.Service;
@{
    ViewData["Title"] = "مدیریت محتوای کسب و کار";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var business = (Business)ViewBag.Company;
}

<h4>@business.CoName</h4>

<div class="text-right">
    <div class="btn-group">
        <a href="/Panel/BusinessManage" class="btn btn-outline-secondary btn-sm"><i class="fas fa-arrow-left"></i></a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-4">
        <div class="card text-center shadow">
            <div class="card-heading">
                <h4 class="card-title text-muted mb-0">صفحه اصلی</h4>
            </div>
            <div class="card-body p-t-10">
                <p class="text-muted m-b-20 m-t-0">صفحه اصلی معرفی تولیدی / کارخانه</p>
                <a href="/Panel/CompanyDataManage/IntroHome/?bid=@business.Id" class="btn btn-outline-info btn-full">مدیریت محتوا</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center shadow">
            <div class="card-heading">
                <h4 class="card-title text-muted mb-0">دسته بندی محصولات</h4>
            </div>
            <div class="card-body p-t-10">
                <p class="text-muted m-b-20 m-t-0">صفحه دسته بندی محصولات</p>
                <a href="/Panel/CompanyDataManage/ProductCategories/?bid=@business.Id" class="btn btn-outline-info btn-full">مدیریت محتوا</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center shadow">
            <div class="card-heading">
                <h4 class="card-title text-muted mb-0">معرفی محصولات</h4>
            </div>
            <div class="card-body p-t-10">
                <p class="text-muted m-b-20 m-t-0">صفحه معرفی محصولات</p>
                <a href="/Panel/LegalForm" class="btn btn-outline-info btn-full">مدیریت محتوا</a>
            </div>
        </div>
    </div>
</div>