@{
    ViewData["Title"] = "panel";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">به پنل مدیریت خوش آمدید</h1>
    <p>شروع یک کار بزرگ</p>
</div>