@{
    ViewData["Title"] = "panel";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to panel</h1>
    <p>Learn about <a href="http://niksoftgroup.ir">building Web apps with niksoftgroup.ir</a>.</p>
</div>