<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>بازرگانی مرکز تجارت بین الملل</title>
    <meta name="description" content="مرکز تجارت بین الملل" />
    <meta name="author" content="فکر برتر" />
    <link rel="shortcut icon" href="img/fav.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/templates/UiTemplate/FbBusiness/rs-plugin/css/navigation.css">
</head>
<body>
    <div id="page">
        <header class="header-v2">
            <div class="top-header">
                <div class="container-fluid">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i>54982000 21 098</li>
                        <li><a href="mailto:info@fekrebartar.ir"><i class="fa fa-envelope"></i>info@fekrebartar.ir</a></li>
                    </ul>

                    <ul class="socials">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="bottom-header">
                <div class="container-fluid">
                    <span class="mobile-navigation-toggle hidden-md hidden-lg">
                        <span class="menui top-menu"></span>
                        <span class="menui mid-menu"></span>
                        <span class="menui bottom-menu"></span>
                    </span>

                    <div class="logo">
                        <a href="index.html">
                            <img src="~/templates/UiTemplate/FbBusiness/img/logo-1-1.png" />
                        </a>
                    </div>

                    <nav class="main-nav">
                        <ul class="menu">
                            <li class="menu-item menu-item-has-children current-menu-parent">
                                <a href="/Business">خانه</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">مناطق اقتصادی</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="about.html">شهرک های صنعتی</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="coming-soon.html">دسته بندی ها</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">محصولات</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">خدمات بازرگانی</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="blog.html">معرفی خدمات</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="single-gallery.html">قوانین و مقررات</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">ورود/ثبت نام</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/">ورود</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/">ثبت نام</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <ul class="actions">
                        <li class="custom-select">
                            <span class="default"><i class="fa fa-globe"></i><span class="content">Fa</span></span>
                            <ul class="select-options dismiss">
                                <li>FA</li>
                                <li>EN</li>
                                <li>AR</li>
                            </ul>
                        </li>
                        <li class="search-trigger">
                            <i class="icon fa fa-search dismiss"></i>
                            <div class="search-box dismiss">
                                <form class="search-form dismiss" action="javascript:void(0)">
                                    <div class="input-line dismiss">
                                        <input type="text" class="search-input dismiss" placeholder="Type and Hit Enter">
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="content-wrapper">
            <section class="hero-section">
                <h2 class="hidden">Slider Section</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="rev_slider_wrapper" style="direction: ltr;">
                                <div class="fullscreen_slider rev_slider">
                                    <ul>
                                        <li data-transition="fade">
                                            <img src="~/templates/UiTemplate/FbBusiness/img/fbomman.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                            <div class="tp-caption WhiteTtl tp-resizeme"
                                                 data-x="center" data-hoffset="0"
                                                 data-y="middle" data-voffset="-50"
                                                 data-whitespace="nowrap"
                                                 data-transform_idle="o:1;"
                                                 data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
                                                 data-transform_out="opacity:0;s:500;s:500;"
                                                 data-fontsize="['50', '45', '35', '30']"
                                                 data-start="1300"
                                                 data-responsive_offset="on">
                                                بازرگانی مرکز تجارت بین الملل فکر برتر
                                            </div>

                                            <div class="tp-caption WhiteTtlp tp-resizeme"
                                                 data-x="center" data-hoffset="0"
                                                 data-y="middle" data-voffset="30"
                                                 data-whitespace="pre"
                                                 data-transform_idle="o:1;"
                                                 data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
                                                 data-transform_out="opacity:0;s:500;s:500;"
                                                 data-start="1700"
                                                 data-fontsize="['25', '20', '18', '16']"
                                                 data-responsive_offset="on">
                                                تولید کنندگان گرامی با ثبت نام و دریافت پنل بازرگانی می توانید از تمام خدمات بازرگانی بهرمند شوید
                                            </div>

                                            <div class="tp-caption tp-resizeme"
                                                 data-x="center" data-hoffset="0"
                                                 data-y="middle" data-voffset="92"
                                                 data-transform_idle="o:1;"
                                                 data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                 data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                 data-start="2000"
                                                 data-responsive_offset="on"
                                                 data-fontsize="['25', '20', '18', '16']">
                                                <a class="btn yellow medium" href="/Auth/Account/Register">ثبت نام</a>
                                            </div>

                                        </li>
                                        <li data-transition="fade">
                                            <img src="~/templates/UiTemplate/FbBusiness/img/slider-background-2.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                            <div class="tp-caption WhiteTtl tp-resizeme"
                                                 data-x="center" data-hoffset="0"
                                                 data-y="middle" data-voffset="-50"
                                                 data-whitespace="nowrap"
                                                 data-transform_idle="o:1;"
                                                 data-transform_in="y:-150px;opacity:0;s:1000;e:Power4.easeOut;"
                                                 data-transform_out="opacity:0;s:500;s:500;"
                                                 data-start="1300"
                                                 data-responsive_offset="on">
                                                فروش محصولات شما در بازارهای جهانی
                                            </div>

                                            <div class="tp-caption WhiteTtlp tp-resizeme"
                                                 data-x="center" data-hoffset="0"
                                                 data-y="middle" data-voffset="30"
                                                 data-whitespace="pre"
                                                 data-transform_idle="o:1;"
                                                 data-transform_in="y:-100px;opacity:0;s:1000;e:Power2.easeOut;"
                                                 data-transform_out="opacity:0;s:500;s:500;"
                                                 data-start="1700"
                                                 data-fontsize="['25', '20', '18', '16']"
                                                 data-responsive_offset="on">
                                                ما می توانیم شما را در فروش محصولات یا خدمات شما در بازار های جهانی یاری کنیم
                                            </div>

                                            <div class="tp-caption tp-resizeme"
                                                 data-x="center" data-hoffset="0"
                                                 data-y="middle" data-voffset="92"
                                                 data-transform_idle="o:1;"
                                                 data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                 data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                 data-start="2000"
                                                 data-responsive_offset="on"
                                                 data-fontsize="['25', '20', '18', '16']">
                                                <a class="btn yellow medium" href="#">بیشتر</a>
                                            </div>

                                        </li>
                                    </ul>

                                    <span class="scroll">
                                        <i class="icon-Down"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features-section">
                <div class="container">
                    @await Component.InvokeAsync("WCompanies")
                </div>
            </section>

            <section class="features-section v2">
                <div class="container-fluid">
                    <div class="row bg-alfa pos-relative">
                        <div class="col-md-6 no-padding pos-static">
                            <div class="row-bg">
                                <img src="~/templates/UiTemplate/FbBusiness/img/features-section-bg.jpg" alt="features bg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-header">
                                <h5 class="subtitle">گام های پیشرف</h5>
                                <h2>مراحل اجرای کار</h2>
                                <span><i></i></span>
                                <p>مسیر پیشرفت از تولید تا فروش</p>
                            </div>

                            <div class="row content">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="feature-line">
                                        <img src="~/templates/UiTemplate/FbBusiness/img/feature-line-1.png" alt="features img">
                                        <h6>معرفی شرکت</h6>
                                        <p>شامل تصاویر و متن درباره کارخانه / تولیدی و محصولات شما می باشد که معرف شما خواهد بود</p>
                                    </div>
                                    <div class="feature-line">
                                        <img src="~/templates/UiTemplate/FbBusiness/img/feature-line-2.png" alt="features img">
                                        <h6>معرفی شما به بازار جهانی</h6>
                                        <p>ما شما را به بازار جهانی معرفی کرده و با کشف فروش به با شما تماس می گیریم</p>
                                    </div>
                                    <div class="feature-line">
                                        <img src="~/templates/UiTemplate/FbBusiness/img/feature-line-3.png" alt="features img">
                                        <h6>قرارداد مشارکت</h6>
                                        <p>ما با شما قراردادی تنظیم  و شما را در فروش یاری خواهیم کرد.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="clients-section">
                <div class="container-fluid">
                    <div class="row bg-alfa pos-relative">
                        <div class="col-md-6">
                            <div class="section-header">
                                <h5 class="subtitle">مشتریان ما</h5>
                                <h2>برخی از مشتریان موفق ما</h2>
                                <span><i></i></span>
                                <p>مشتریان برگزیده که بیشترین موفقیت را در بازار جهانی از آن خود کرده اند.</p>
                            </div>

                            <div class="row content">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="clients-row">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#"><img src="~/templates/UiTemplate/FbBusiness/img/partner-logo-1.png" alt="partner logo"></a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#"><img src="~/templates/UiTemplate/FbBusiness/img/partner-logo-2.png" alt="partner logo"></a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#"><img src="~/templates/UiTemplate/FbBusiness/img/partner-logo-3.png" alt="partner logo"></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#"><img src="~/templates/UiTemplate/FbBusiness/img/partner-logo-4.png" alt="partner logo"></a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#"><img src="~/templates/UiTemplate/FbBusiness/img/partner-logo-5.png" alt="partner logo"></a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#"><img src="~/templates/UiTemplate/FbBusiness/img/partner-logo-6.png" alt="partner logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 no-padding pos-static">
                            <div class="row-bg">
                                <img src="~/templates/UiTemplate/FbBusiness/img/clients-section.jpg" alt="clients bg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="team-members-section">
                <div class="container">
                    <div class="section-header white">
                        <h5 class="subtitle">مناطق اقتصادی فعال</h5>
                        <h2>فعال ترین مناطق اقتصادی</h2>
                        <span><i></i></span>
                        <p>برخی از فعال ترین مناطق اقتصادی در این مجموعه</p>
                    </div>

                    <div class="slick-carousel team-members" data-speed="600" data-arrows="true" data-dots="true" data-infinite="true" data-items-desktop="4">
                        @await Component.InvokeAsync("WIndustrialPark")
                    </div>
                </div>
            </section>

            <section class="services-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <div class="service-box">
                                <span class="subtitle">خدمات ما</span>
                                <h3 class="title">زمینه های کاری</h3>
                                <p class="description">علاوه بر معرفی و فروش محصل شما در خارج از ایران ما تورهای بازرگانی برای بازدید از کارخانجات شما تدارک خواهیم داد تا بازرگانان خارجی و داخلی از محصولات شما در کارخانه بازدید کنند و کشف مستقیم مشتری برای شما ایجاد می کنیم.</p>
                                <a href="#" class="btn yellow">مطالب بیشتر</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-lg-4">
                            <div class="service-box-icon">
                                <div class="front">
                                    <i class="icon icon-House"></i>
                                    <h5 class="title">خدمات مشارکت فروش</h5>
                                    <span class="subtitle">فروش محصولات شما توسط مرکز تجارت</span>
                                </div>

                                <p class="description">متن داده شود</p>
                            </div>

                            <div class="service-box-icon">
                                <div class="front">
                                    <i class="icon icon-Lightbulb"></i>
                                    <h5 class="title">نمایندگی فروش</h5>
                                    <span class="subtitle">اخذ نمایندی فروش از شرکت شما</span>
                                </div>

                                <p class="description">متن داده شود</p>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-lg-4">
                            <div class="service-box-icon">
                                <div class="front">
                                    <i class="icon icon-Presentation"></i>
                                    <h5 class="title">ثبت شرکت و برند در خارج از ایران</h5>
                                    <span class="subtitle">جهانی شدن برند شما</span>
                                </div>

                                <p class="description">متن داده شود</p>
                            </div>

                            <div class="service-box-icon">
                                <div class="front">
                                    <i class="icon icon-Briefcase"></i>
                                    <h5 class="title">مشاوره تجاری</h5>
                                    <span class="subtitle">مشاوران ما شما را راهنمایی می کنند</span>
                                </div>

                                <p class="description">متن داده شود</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row isotope">
                        <div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
                            <div class="widget widget_contact">
                                <h4 class="widget-title">اطلاعات تماس</h4>
                                <div class="widget-body">
                                    <ul class="contact-info clean-list">
                                        <li>
                                            <span class="title">آدرس:</span>
                                            <p>ونک، خیابان خدامی، خیابان آفتاب، نبش کوچه</p>
                                            <p>هشتم، پلاک 34، ساختمان فکرتر</p>
                                        </li>
                                        <li>
                                            <span class="title">تلفن:</span>
                                            <p>54982000 21 098 - شرکت</p>
                                        </li>
                                        <li>
                                            <span class="title">ایمیل:</span>
                                            <p><a href="mailto:info@fekrebartar.ir">info@fekrebartar.ir</a></p>
                                        </li>
                                        <li>
                                            <span class="title">ما را دنبال کنید: </span>
                                            <ul class="socials clean-list">
                                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                                <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
                            <div class="widget widget_instagram">
                                <h4 class="widget-title">اینستاگرام</h4>
                                <div class="widget-body">
                                    <ul class="instagram-feed clean-list" data-instagram="6" data-instagram-username="paul_garrat"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
                            <!--<div class="widget widget_recent_posts">
                                <h4 class="widget-title">آخرین پست ها</h4>
                                <div class="widget-body">
                                </div>
                            </div>-->
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
                            <div class="widget widget_subscribe">
                                <h4 class="widget-title">خبرنامه</h4>
                                <div class="widget-body">
                                    <p>ارسال آخرین تحولات و خدمات</p>
                                    <form class="subscribe-form" action="javascript:void(0)">
                                        <input class="input-line text-left" type="text" placeholder="info@email">
                                        <input class="submit-btn" type="submit" value="ثبت ایمیل">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-footer">
                <div class="container">
                    <p class="alignleft align-left copyright">
                        تمامی حقوف اثر متعلق به شرکت فکربرتر می باشد.
                    </p>

                    <p class="alignright align-right copyright">
                        ساخته شده توسط <a href="http://nisksoftgroup.ir">www.nisksoftgroup.ir</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/jquery.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/modernizr.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/nouislider.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/isotope.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/slick.js"></script>
    <script type="text/javascript" src="~/templates/UiTemplate/FbBusiness/js/options.js"></script>
</body>
</html>