@using NiksoftCore.SystemBase.Service
@{ 
    var menus = (List<PanelMenu>)ViewBag.Menus;
}

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect">
        <i class="mdi mdi-layers"></i>
        <span> Forms </span>
        <span class="float-right"><i class="mdi mdi-plus"></i></span>
    </a>
    <ul class="list-unstyled">
        <li><a href="form-elements.html"></a></li>
    </ul>
</li>
