@{
    ViewData["Title"] = "پنل مدیریت - مدیریت نقش ها";
    Layout = "~/Areas/Panel/Views/Shared/_FaLayout.cshtml";
    var roles = (List<NiksoftCore.DataModel.Role>)ViewBag.Roles;
}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="30px">ردیف</th>
                <th>عنوان</th>
                <th width="100px">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in roles)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <div class="btn-group-vertical">
                            <a href="#" class="btn btn-warning btn-sm">ویرایش</a>
                            <a href="#" class="btn btn-danger btn-sm">حذف</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>