@{
    ViewData["Title"] = "panel";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var profile = (NiksoftCore.SystemBase.Service.UserProfile)ViewBag.Profile;
    var user = (NiksoftCore.SystemBase.Service.UserProfile)ViewBag.Profile;
}
<div class="btn-group">
    <a href="/Panel/UserRoleManage/Create" class="btn btn-success btn-sm"><i class="fal fa-plus"></i></a>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-light">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@profile.Firstname</td>
                <td>@profile.Lastname</td>
            </tr>
        </tbody>
    </table>
</div>