@{
    var allowShow = (bool)ViewBag.AllowView;
    var businessCount = (int)ViewBag.BusinessCount;
}

@if (allowShow)
{
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center shadow">
                <div class="card-heading">
                    <h4 class="card-title text-muted mb-0">دریافت پنل بازرگانی</h4>
                </div>
                <div class="card-body p-t-10">
                    <a href="/Panel/LegalForm" class="btn btn-outline-danger btn-full">دریافت پنل</a>
                </div>
            </div>
        </div>
    </div>
}

