@using NiksoftCore.ITCF.Service
@{
    var parks = (List<IndustrialPark>)ViewBag.Parks;
}

<div class="row carousel-items">
    @foreach (var item in parks)
    {
        <div class="col-md-3 carousel-item">
            <div class="team-member">
                <h6 class="name">@item.Title</h6>
                <div class="map-frame">
                    @Html.Raw(item.Location)
                </div>
                <p class="description">@item.Address</p>
            </div>
        </div>
    }
</div>
